<div class="colleft">			
            
<div class="col1">
<h3>
Сперва о способе представления матерного материала.</h3> <p>
Oн рассчитан на определённое содействие со стороны

пользователя данной базой данных.</p><p> Она составлена из трёх частей (по числу основных слов).</p><p> Дабы открыть какую-либо из этих трёх частей, пользователю нужно

набрать соответствующее корневое слово (w1, w2, или w3), а там уже определять направление своих

последующих изысканий.</p><p>Если у вас есть чем поделиться - милости просим!- впишите в прилагаемую форму свой пример, или толкование и они будут представлены в данной базе при условии их соответствия её тематике, моральным устоям (<tt>мир во всём мире, равенство, дружба и братство между народами</tt> ) и т.д.</p><p>Свои добавления подписывайте, пожалуйста, одним только именем (или ником) с присовокуплением местонахождения, например: <br><blockquote><em>Костя из Перми, </em>или <em><br>Люсик с Дерибасовской</em> </blockquote></p><p> и да пребудет с вами w3ическая сила.
</p>
</div><div class="col2">
Остаётся лишь вписать одно только слово из трёх возможных:

<ul>
<li><a href="w1/admin/index.php"> w1) существительное муж. р., ед. ч.;</a>  </li>
<li><a href="w2/admin/index.php"> w2) существительное жен. р., ед. ч.;</a> </li>
<li><a href="w3/admin/index.php">w3) глагол неопр. фор., I-го спряжения;</a></li>
</ul>
</p>
</div></div></div>